*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: block;
  height: 10vh;
  background-color: blueviolet;
}

main {
  flex: 1 0 auto;
  display: flex;
  background-color: darkcyan;
}

main > div {
  margin: auto;
  font-weight: 900;
  font-size: 2rem;
}

.container {
  text-align: center;
}

footer {
  display: block;
  height: 10vh;
  background-color: coral;
}

.table-canter {
  display: table;
}
