*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

input,
button {
  padding-left: 8px;
  padding-right: 8px;
}

input {
  text-overflow: ellipsis;
  background: initial;
}
