@import "./variables";

// 1rem = 10px

.table {
  margin-bottom: 2rem;

  width: 100%;

  border-collapse: collapse;
  word-break: break-all;

  border: 1px solid lighten($color-text, 65);

  & .table-header {
    background: lighten($color-text, 65);
  }

  & .table-body {
    // pass

    & .table-row {
      &:hover {
        outline: 1px solid lighten($color-text, 40);
      }

      &:nth-child(odd) {
        background: lighten($color-text, 72);
      }
    }

    & .table-col {
      padding: 0.4rem;
    }

    & .col-center {
      text-align: center;
    }
  }
}
